<a href="https://colab.research.google.com/github/pradeep004/Udemy-Python-Programming/blob/main/Assessment_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####Strings Examples

In [ ]:
user = input('Enter the string:')
print('the length of user  is: {}'.format(len(user)))

Enter the string:pradeep
the length of user  is: 7

In [ ]:
user = input('enter the string:')
for value in user:
  print(value)

enter the stringpradep
p
r
a
d
e
p

In [ ]:
user = input()
for chare in user:
  if chare == 'a' or chare == 'e' or chare == 'i' or chare == 'u' or chare == 'o':
    print(chare)

In [ ]:
user = input()
count = 0
count1 = 0
for chare in user:
  if chare == 'a' or chare == 'e' or chare == 'i' or chare == 'o' or chare == 'u':
    count += 1
    continue
  count1 += 1
print("consonants are:",count1)
print("Vowel are: ",count)

alpaabets
consonants are: 5
Vowel are:  4

In [ ]:
user = input()
my_list = []
my_list = user.split(' ')
print(my_list)

praeep ahfweie
['praeep', 'ahfweie']

In [ ]:
#To print the  last N characters of the String

user_string = input()
user_int = int(input())

print(user_string)

while user_int > 0:
  print(user_string[-user_int],end ='')
  user_int = user_int - 1

pradeep
2
pradeep
ep

In [ ]:
#Another Method
my_str = input()
N = int(input())

print(my_str)

new_str = my_str[-N:]
print(new_str)

Ahish
2
Ahish
sh

In [ ]:
#Finding the substring in the lists
my_list1 = ['pradeep','ashis','john','are']
my_list2 = ['pra','re','his']

print(my_list1)
print(my_list2)

#any() return the string after the match in any string 

res = [element2 for element2 in my_list2 if any(element2 in element1 for element1 in my_list1)]
print(res)

['pradeep', 'ashis', 'john', 'are']
['pra', 're', 'his']
['pra', 're', 'his']

In [ ]:
#Another method of finding the substring

l1 = ['ashish', 'patil','masters','mastered']
l2 =  ['shi','ste','xxx','til','mast']
output_list = set()
for ele in l1 :
  for l2_ele in l2:
    if l2_ele in ele:
      output_list.add(l2_ele)

In [ ]:
my_l = input()
outpo = []

for value in my_l:
  value = my_l.split()
outpo.append(value)

print(outpo)

raepe efwfiew dfnewi
[['raepe', 'efwfiew', 'dfnewi']]

In [ ]:
#Program for even and odd numbers
user_number = int(input())
def even_odd():
  if user_number % 2 == 0:
    print("the user number is even {}".format(user_number))
  else :
    print("the number is odd {}".format(user_number))

even_odd()

21
the number is odd 21

In [ ]:
#Printing the n numbers
out_list = []
for values in range(1,100):
  if values % 2 == 0:
    out_list.append(values)
print(out_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
#Palendrome
my_str = '244'
out_str = my_str[::-1]
print(out_str)
if my_str == out_str:
  print("number is palendrome")
else:
  print("number is not palendrome")

442
number is not palendrome

In [ ]:
#To find the prime number
number = int(input())
is_prime = True
for values in range(2,number):
  if number % values == 0:
    is_prime = False
if is_prime:
  print("number is Pime")
else:
  print("number is not prime")

12
number is not prime False

In [ ]:
#Prime number
number = int(input())

for values in range(2,number):
  if number % values == 0:
    print("{} is not prime".format(number))
    break
  else:
    print("{} is prime number".format(number))

15
15 is prime number
15 is not prime

In [ ]:
#factorial of the given number
n = int(input())
factorial = 1
for values in range(1,n+1):
  print(values,end =' ')
  factorial = factorial * values

print("\nthe factorial of {} is {}".format(n,factorial))

4
1 2 3 4
the factorial of 4 is 24

In [ ]:
#Finding the maximum value in three numbers
var_one = int(input())
var_two = int(input())
var_three = int(input())

if var_one > var_two:
  max_var = var_one
else:
  max_var = var_two

if max_var < var_three:
  max_var = var_three
print(max_var)

3
2
4
4

In [ ]:
a ='perap'
b = a[::-1]
print(b)

prp

In [9]:
out_list = []
def division_five():
  for numbers in range(1,101):
    if numbers % 5 == 0:
      continue
    out_list.append(numbers)
  print(out_list)
division_five()

[1, 2, 3, 4, 6, 7, 8, 9, 11, 12, 13, 14, 16, 17, 18, 19, 21, 22, 23, 24, 26, 27, 28, 29, 31, 32, 33, 34, 36, 37, 38, 39, 41, 42, 43, 44, 46, 47, 48, 49, 51, 52, 53, 54, 56, 57, 58, 59, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 73, 74, 76, 77, 78, 79, 81, 82, 83, 84, 86, 87, 88, 89, 91, 92, 93, 94, 96, 97, 98, 99]

In [29]:

N = int(input(""))
a = 0
b = 1
print(a)
print(b)
for numbers in range(2,N):
  temp  = a
  a = b
  b = a + temp
  print(b)

13
0
1
1
2
3
5
8
13
21
34
55
89
144