<a href="https://colab.research.google.com/github/pradeep004/Udemy-Python-Programming/blob/main/List_Assessment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Quetion No1

In [ ]:
listOne=[3,6,9,12,15,18,21]
listTwo=[4,8,12,16,20,24,28]
slice1=listOne[1::2]
slice2=listTwo[::2]

print("Elements at odd-index positions from listOne are :",slice1)
print("Elements at odd-index positions from listTwo are :",slice2)
for elements in slice2:
  slice1.append(elements)
print("Final Third List :",slice1)

Elements at odd-index positions from listOne are : [6, 12, 18]
Elements at odd-index positions from listTwo are : [4, 12, 20, 28]
Final Third List : [6, 12, 18, 4, 12, 20, 28]

#Question no2

In [ ]:
def remove_replace():
    list = [1, 25, 524, 5664, 5, 5, 56, 6]
    add4ele = list.pop(4)
    print(list)

remove_replace()

[1, 25, 524, 5664, 5, 56, 6]

#Question No 3

In [ ]:
#List Slicing and Reversing the List
samplelist=[11,42,8,23,14,12,78,45,89]

#Slicing the list by index
slicelist1=samplelist[0:3]
slicelist2=samplelist[3:6]
slicelist3=samplelist[6:]

print("Original list:",samplelist)
print("Sliced List 1:",slicelist1)
a=slicelist1[::-1]
print("After revering the sliced list 1:",a)
print("Sliced List 2:",slicelist2)
b=slicelist2[::-1]
print("After revering the sliced list 2:",b)
print("Sliced List 13:",slicelist3)
c=slicelist3[::-1]
print("After revering the sliced list 3:",c)

Original list: [11, 42, 8, 23, 14, 12, 78, 45, 89]
Sliced List 1: [11, 42, 8]
After revering the sliced list 1: [8, 42, 11]
Sliced List 2: [23, 14, 12]
After revering the sliced list 2: [12, 14, 23]
Sliced List 13: [78, 45, 89]
After revering the sliced list 3: [89, 45, 78]

In [ ]:
from collections import Counter


def input_int():
    keep_open = True
    while keep_open == True:
        int_list = []
        try:
            list_length = int(input('enter number of elements to be stored in list: '))
            for input_nums in range(list_length):
                input_nums = input('input nums: ')
                int_list.append(input_nums)
            for item in int_list:
                print(f'element - {int_list.index(item)} : {item}\n')

            for items in int_list:
                print(f'{items} occures {int_list.count(items)}\n')

            keep_open = False
        except:
            keep_open == True


input_int()

enter number of elements to be stored in list: 5
input nums: 12
input nums: 12
input nums: 23
input nums: 1
input nums: 1
element - 0 : 12

element - 0 : 12

element - 2 : 23

element - 3 : 1

element - 3 : 1

12 occures 2

12 occures 2

23 occures 1

1 occures 2

1 occures 2

In [ ]:
def print_to_number():

    for i in range(1,10):

        print ("i = ", i)
print_to_number()

i =  1
i =  3
i =  5
i =  7
i =  9

In [ ]:
def print_to_number():
  i=1
  while i < 10:
    print("i = ",i)
    i=i+1
print_to_number()

i =  1
i =  2
i =  3
i =  4
i =  5
i =  6
i =  7
i =  8
i =  9

#Question No 5

In [ ]:
# List initialization
list1 =[2, 3, 4, 5, 6, 7, 8]
list2 =[4,9, 16, 25, 36, 49, 64]
 
# using list comprehension
output = [(a, b) for a in list1  
          for b in list2 if a * a == b]
 
# printing output
print( "Result is ",output)

Result is  [(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

#Question no 6

In [ ]:
def set_itersection():
    s1=set([55,37,388,34,658,665,8,54,5])
    s2=set([55,48,665,658,56,55,1,4,5])
    intersect = set.intersection(s1,s2)
    print('set intersection {}'.format(intersect))
    s1.difference_update(s2)
    print('fists set minus intersect {}'.format(s1))

set_itersection()

set intersection {665, 658, 5, 55}
fists set minus intersect {34, 388, 37, 8, 54}

#Question No7

In [ ]:
firstSet={57,83,29}
secondSet={67,73,43,48,83,57,29}
print("First Set :",firstSet)
print("Second set :",secondSet)
print("\n")
print("First set is subset of second set :",firstSet.issubset(secondSet))
print("Second set is sub set of first set :",secondSet.issubset(firstSet))
print("\n")
print("First Set is super set of second set :",firstSet.issuperset(secondSet))
print("Second set is super set of first set :",secondSet.issuperset(firstSet))
firstSet.clear()
print("First Set :",firstSet)
print("Second Set :",secondSet)

First Set : {57, 83, 29}
Second set : {67, 73, 43, 48, 83, 57, 29}


First set is subset of second set : True
Second set is sub set of first set : False


First Set is super set of second set : False
Second set is super set of first set : True
First Set : set()
Second Set : {67, 73, 43, 48, 83, 57, 29}

#Quetion no 8

In [ ]:
def in_dict():
    list=[1,15,64,5,2,4,6,45,6]
    lst_set=set(list)
    dct={'john': 1,
         'jane': 64,
         'jack': 2}
    dct_set=set(dct)
    # for element in list:
    #     print(element)
    if lst_set.intersection(dct_set):
        dct_set.difference_update(lst_set)



if __name__ == '__main__':
    # remove_replace()
    print(set_itersection())
    in_dict()

set intersection {665, 658, 5, 55}
fists set minus intersect {34, 388, 37, 8, 54}
None