<a href="https://colab.research.google.com/github/pradeep004/Python-Programming/blob/main/Pyton_Data_types_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Fundamental data Types 
Type Casting

In [ ]:
#Fundamental Data Types 
#int 
#float
#boolean
#string
#List
#Directories
#Tuples
#sets

In [ ]:
#int and float
#Type Casting using type Function
print(type(6))
print(type(10.43))

#MAthematical operation
print(2 + 4)
print(2 - 4)
print(2 * 4)
print(2 / 4)


print(2 **3) # ** used as Exponential
print(2 // 3) # // Floar Division Round the result to nearest number
print(5 % 4) # 5 modulus returns reminder


# math function
print(round(3.1))
print(round(3.9))
print(abs(-20))

<class 'int'>
<class 'float'>
6
-2
8
0.5
8
0
1
3
4
20

#####operator precedence

In [ ]:
# As Follows
#()
# **
# * /
# + -


print(20 -3 * 4)

8

######Complex

In [ ]:
# bin for Binary Numbers
print(bin(5))
print(int('0b101',2))

#Constants
PI = 3.14

#Assigning values
a,b,c =1,2,3
print(a)
print(b)
print(c)

#####Expression v/s Statements

In [ ]:
iq = 100
user = iq / 5   # line is Statement  iq/ 5 i expession

#argument assignment operator
some_value = 5
some_value += 2
print(some_value)

7

#####Strings

In [ ]:
# written with quatation
print(type("hi welcome to python programming"))
long_string = '''
My Name is Pradeep
I'm from India
'''
print(long_string)

first_name = 'Pradeep'
last_name = 'Angadageri'

#String Concatination
full_name =first_name + last_name
print(full_name)


#Type Conversion
a = str(200)
b = int(a)

print(type(a))
print(type(b))

<class 'str'>

My Name is Pradeep
I'm from India

PradeepAngadageri

#####Escape sequence

In [ ]:
box = "\t It\'s \"Kind of\" full \n box has a long history"
print(box)

	 It's "Kind of" full
 box has a lng history

#####Formatted String

In [ ]:
name = 'pradeep'
age = 24

print(f'hi {name}. you are {age} years old.')
print('hi {}. you are {} years old '.format(name, age))

hi pradeep. you are 24 years old.
hi pradeep. you are 24 years old

#####String Indexes

In [ ]:
game = 'For Cry'

#[start:stop:stepover]
print(game[0:7:2])
print(game[1:])
print(game[:5])
print(game[::-2])

FrCy
or Cry
For C
yCrF

#####Immutabilty - String cann't change value once created

In [ ]:
game = 'For Cry'
game = game +'4'
print(game)

For Cry4

#####Python Built-In Function

In [ ]:
greet ='How are you'
print(greet[0:len(greet)])

#String Methods
game = "how much level completed in For Cry"

print(game.upper())
print(game.capitalize())
print(game.lower())
print(game.find('For'))
print(game.replace('completed','completing'))

How are you
HOW MUCH LEVEL COMPLETED IN FOR CRY
How much level completed in for cry
how much level completed in for cry
28
how much level completing in For Cry

#####Boolean

In [ ]:
#booleans
name= 'pradeep'
is_cool = False
is_cool = True

print(bool('pro'))

True

#####User Input Function

In [ ]:
birth_year = input("what year you were born  :")
print(type(birth_year))
age = 2020 - int(birth_year)

print(f'your age is : {age}')
print ("your age is : {}".format(age))

what year you were born ?1997
<class 'str'>
your age is : 23
your age is : 23

#Exercise

In [ ]:
username= input("Enter your user name:")
password = input("Enter  your password :")
secret = '*' * len(password)
print("Hi {},\nYour passsword is {}, is  {} letters long".format(username,secret,len(password)))

Enter your user name:pradep
Enter  your password :214234
Hi pradep,
Your passsword is ******, is  6 letters long

####Lists -It is an orderd sequence of objects

In [ ]:
new_list = [1,2,3,4,5]
sample_list = ['notebooks','gamesBooks','groceries']
print(sample_list[1])

#List Slicing
print(sample_list[0:2])

#List are Mutable
sample_list[1] = 'horror'
print(sample_list[0:4])

sample_list[0] ='cartoons'
same_list = sample_list # Copy all item retu n in both list 
#same_list = sample_list[:]
same_list[0] = 'pogo'
print(same_list)
print(sample_list)

gamesBooks
['notebooks', 'gamesBooks']
['notebooks', 'horror', 'groceries']
['pogo', 'horror', 'groceries']
['pogo', 'horror', 'groceries']

#####Matrix

In [ ]:
#matrix
matrix = [
          [1,2,3],
          [2,4,6],
          [7,8,9]
]
print(matrix[0][1])

2

#####List Methods

In [ ]:
basket = [1,2,3,4,5]

#adding
print(basket.append(100))
basket.insert(2,100)#Modifies List
basket.extend([100,102])
print(basket)


#removing 
basket.pop(0) # remove by index
basket.remove(3) #remove by values
#Reomve all values basket.clear()
print(basket)

#index
print(basket.index(2))

print(100 in basket)
print(99 in basket)
print(basket.count(100))
#Sorting method in list
#basket.sort()
print(sorted(basket))#Create a new copy of basket
basket.sort()
basket.reverse()
print(basket)

None
[1, 2, 100, 3, 4, 5, 100, 100, 102]
[2, 100, 4, 5, 100, 100, 102]
0
True
False
3
[2, 4, 5, 100, 100, 100, 102]
[102, 100, 100, 100, 5, 4, 2]

#####Common list Pattern

In [ ]:
basket.sort()
basket.reverse()
print(basket[::-1])#Create a new list 
print(basket)

#Range
print(list(range(1,100)))

[2, 4, 5, 100, 100, 100, 102]
[102, 100, 100, 100, 5, 4, 2]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

#####List Unpacking

In [ ]:
a,b,c, * other, d = [1,2,3,4,4,5,6]
print(a)
print(b)
print(c)
print(other)
print(d)

1
2
3
[4, 4, 5]
6

####Dictionries

In [ ]:
#Dictionary
dictionary = {
    'a' : [1,2,3],
    'b' : 'game',
    'x' : True
}

print(dictionary)

{'a': [1, 2, 3], 'b': 'game', 'x': True}

#####Dictionoriess keys

In [ ]:
#Key-Value Pair -key has to be unque
dictionries = {
    'basket' : [1,2,3],
    'greet'  : 'hello'

}

user = dict(name='pradeep')
print(user)
print('basket' in dictionries)
print('game' in dictionries)
#print(dictionries['age']) give an error

print(dictionries.get('age', 55)) # Incase no key exist in dict use this


print('greet' in dictionries.keys())
print(dictionries.items())
# dictionries.clear()
# print(dictionries)

print(dictionries.pop('greet'))
print(dictionries)

print(dictionries.update({'basket' : 'mango'}))
print(dictionries)

{'name': 'pradeep'}
True
False
55
True
dict_items([('basket', [1, 2, 3]), ('greet', 'hello')])
hello
{'basket': [1, 2, 3]}
None
{'basket': 'mango'}

###Tuple - these are immutable

In [ ]:
my_tuple = (1,2,3,4,5)
#Dictionry key value are return in tuples because keys are immutable
print(my_tuple)
a,b,s,*other =(1,2,3,4,5)
print(a)
#Tuple has only two method 
#1.Count
print(my_tuple.count(1))
print(my_tuple.index(2))
print(len(my_tuple))

(1, 2, 3, 4, 5)
1
1
1
5

#####Sets

In [ ]:
#Sets Unorderd collection of unique objects
#It does not support indexing
my_set  = {1,2,3,4,5,4}
my_set.add(6)
print(my_set)
print(len(my_set))
######
my_list = [1,2,3,4,5,5]
print(set(my_list))


#Copy
new_set = my_set.copy()
my_set.clear()
print(new_set)
print(my_set)

{1, 2, 3, 4, 5, 6}
6
{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
set()

In [ ]:
#Sets 
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9}
print(my_set.difference(your_set))
# print(my_set.discard(5))
print(my_set)
# print(my_set.difference_update(your_set))
# print(my_set)

#Intersection
print(my_set.intersection(your_set))
print(my_set & your_set)

print(my_set.isdisjoint(your_set)) #In common
#Union
print(my_set.union(your_set))
print(my_set | your_set)

print(my_set.issubset(your_set))
print(my_set.issuperset(your_set))

{1, 2, 3}
{1, 2, 3, 4, 5}
{4, 5}
{4, 5}
False
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
False
False